#wrapper {
    margin: auto;
    width: 1200px;
    height: 625px;
}

#top-banner {
    position: absolute;
    width: 100%;
    height: 40px;
    z-index: 1000;
    background-color: rgba(17, 17, 17, 0.8);
}

#mist-txt {
    position: relative;
    top: 10px;
    font-weight: bold;
    color: white;
    font-family: Sans-Serif;
}

#location-txt {
    position: relative;
    bottom: 20%;
    color: white;
    left: 40%;
    font-family: Sans-Serif;
}
 /*Start weather box*/
.weather {
    position: absolute;
    z-index: 1000;
    display: none; 
    width: 30%;
    height: 15%;
    left: 35%;
    top: 6%;
    background-color:  rgba(17,17,17,0.8);
    text-align: center;
    border-radius: 10px;
}

.weather div{
    display: inline-block;
    z-index: 1000;
    border-radius: 10px;
    color: white;
    font-family: sans-serif;
    margin: 5px;
}

#top-weather {
    float: left;
}

#bottom-weather {
    float: left;
    clear: both;
}

.close-weather {
    position: absolute;
    font-size: 30px;
    color: #aaaaaa;
    top: 0px;
    right: 0px;
}
.close-weather:hover {
    color: #000;
    cursor: pointer;
}
/*End weather box*/

/*Start zip box*/
.zip-box {
    position: absolute;
    z-index: 1000;
    display: none; 
    width: 30%;
    height: 15%;
    left: 27%;
    top: 40%;
    background-color:  rgba(0,0,0,0.4);
    text-align: center;
    border: 3px solid black;
    border-radius: 20px;
}

.zip-box div{
    display: inline-block;
    z-index: 1000;
    line-height: 60px;
    padding: 5px;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    color: white;
    background-color: rgba(11, 10, 10, 0.3);
    font-family: sans-serif;
    margin: 10px;
}

/*End zip box*/

#left-sidenav div{
    z-index: 1000;
    text-align: auto;
    line-height: 60px;
    position: absolute;
    left: 1%;
    padding: 5px 5px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    color: white;
    background-color: rgb(11, 10, 10);
    font-family: sans-serif;
}

#left-sidenav div:hover {
    cursor: pointer;
    background-color: rgb(33, 30, 30);
}

#button1 {
    top: 75px;
}

#button2 {
    top: 150px;
}

#button3 {
    top: 225px;
}

#button4 {
    top: 300px;
}

#layers-button {
    top: 500px;
}

/*start base layer modal content*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #c5c4c4;
    text-align: center;
    margin: auto;
    padding: 20px;
    border: 3px solid black;
    height: 15%;
    width: 50%;
    border-radius: 20px;
}

.modal-content div{
    display: inline-block;
    z-index: 1000;
    line-height: 60px;
    padding: 5px;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    color: white;
    background-color: rgb(11, 10, 10);
    font-family: sans-serif;
    margin: 10px;
}

#road-map:hover {
    cursor: pointer;
    background-color: rgb(33, 30, 30); 
}

#satellite-map:hover {
    cursor: pointer;
    background-color: rgb(33, 30, 30); 
}

#default-map:hover {
    cursor: pointer;
    background-color: rgb(33, 30, 30); 
}

/*end layers modal content*/

/*begin wms modal content*/

.wms-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.wms-content {
    background-color: #c5c4c4;
    text-align: center;
    margin: auto;
    padding: 20px;
    border: 3px solid black;
    height: 15%;
    width: 50%;
    border-radius: 20px;
}

.wms-content div{
    display: inline-block;
    z-index: 1000;
    line-height: 60px;
    padding: 5px;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    color: white;
    background-color: rgb(11, 10, 10);
    font-family: sans-serif;
    margin: 10px;
}

#precip-24:hover {
    cursor: pointer;
    background-color: rgb(33, 30, 30); 
}

#wind:hover {
    cursor: pointer;
    background-color: rgb(33, 30, 30); 
}

#clear:hover {
    cursor: pointer;
    background-color: rgb(33, 30, 30);
}

#animate:hover {
    cursor: pointer;
    background-color: rgb(33, 30, 30);
}

#default-map:hover {
    cursor: pointer;
    background-color: rgb(33, 30, 30); 
}

/*end wms modal content*/

/*Legend styling */
#legend {
    display: none;
    position: absolute;
    z-index: 1000;
    right: 35px;
    top: 6.5%;
}

.close {
    position: absolute;
    font-size: 30px;
    color: #aaaaaa;
    top: 0px;
    right: 0px;
}
.close:hover {
    color: #000;
    cursor: pointer;
}
/*end legend styling*/

/* Begin animation utilities modal content */
.utilities-content {
    position: absolute;
    z-index: 1000;
    display: none; 
    width: 45%;
    height: 15%;
    left: 27%;
    top: 80%;
    background-color:  rgba(0,0,0,0.4);
    text-align: center;
    border: 3px solid black;
    border-radius: 20px;
}

.utilities-content div{
    display: inline-block;
    z-index: 1000;
    line-height: 60px;
    padding: 5px;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    color: white;
    background-color: rgba(11, 10, 10, 0.3);
    font-family: sans-serif;
    margin: 10px;
}

.utilities-content div:hover {
    cursor: pointer;
    background-color: rgb(33, 30, 30); 
}

#loop-text {
    color: white;
}

#loop:hover {
    cursor: pointer;
}
/*  end animation utilities modal content*/

/*items in bottom banner*/
#bottom-banner {
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 1000;
    background-color: rgba(17, 17, 17, 0.8);
}

#date-txt {
    position: relative;
    color: white;
}

#coord-txt {
    position: absolute;
    right: 20px;
    color: white;
}

.bottom {
    position: absolute;
    display: inline-block;
    font-family: Sans-Serif;
}
/*end items in bottom banner*/

.ol-zoom {
    left: unset;
    right: 5px;
    top: 10%;
}

.ol-attribution {
    display: none;
}

#map {
    position: relative;
    height: 100%;
    width: 100%;
    left: 5px;
}